.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  background: var(--background-color_dimmed) url(../../images/feynman.png) left
    bottom no-repeat;
}
