.video{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
/* Need to fix in section
    1.Video link is not working
    2.Video nedd to overlap next section
*/
