.contact-us__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: none;
  background-color: var(--link-color);
  color: var(--text-color_bright);
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
